.FirstRowContainer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end; /* Используйте justify-content для выравнивания дочерних элементов по горизонтали */
    background-color: var(--accent-color);
    padding-right: 10vw;
}

.HeadText {
    color: var(--text-color);
}
.carImage{
    width: auto;
    height: 100%;
    padding-right: 3vw;
}